{% load static %}
{% load widget_tweaks %}

<div class="modal-content">
    <div class="modal-header">
        <h2><i class="fas fa-user-plus"></i> REGISTRAR USUARIO</h2>

    </div>
    
    <form id="formAddUsuario" method="POST" action="{% url 'usuarios:crear' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="modal-body">
            <div style="display: flex; gap: 15px; margin-bottom: 15px;">
                <div class="form-group" style="flex: 1;">
                    <label>NOMBRE DE USUARIO *</label>
                    {{ user_form.username|add_class:"form-control"|attr:"placeholder:Ej: emendivelso" }}
                </div>
                <div class="form-group" style="flex: 1;">
                    <label>CORREO ELECTRÓNICO</label>
                    {{ user_form.email|add_class:"form-control"|attr:"placeholder:correo@ejemplo.com" }}
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 20px;">
                <label>CONTRASEÑA *</label>
                {{ user_form.password|add_class:"form-control"|attr:"type:password"|attr:"placeholder:••••••••" }}
            </div>

            <h5 style="color: var(--brand); font-size: 0.8rem; border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 5px; margin-bottom: 15px;">
                INFORMACIÓN PERSONAL
            </h5>

            <div style="display: flex; gap: 15px; margin-bottom: 15px;">
                <div class="form-group" style="flex: 1;">
                    <label>NOMBRES</label>
                    {{ user_form.first_name|add_class:"form-control"|attr:"placeholder:Nombres" }}
                </div>
                <div class="form-group" style="flex: 1;">
                    <label>APELLIDOS</label>
                    {{ user_form.last_name|add_class:"form-control"|attr:"placeholder:Apellidos" }}
                </div>
            </div>

            <div style="display: flex; gap: 15px; margin-bottom: 15px;">
                <div class="form-group" style="flex: 1;">
                    <label>CÉDULA</label>
                    {{ perfil_form.cedula|add_class:"form-control"|attr:"placeholder:CC/TI" }}
                </div>
                <div class="form-group" style="flex: 1;">
                    <label>TELÉFONO</label>
                    {{ perfil_form.telefono|add_class:"form-control"|attr:"placeholder:310..." }}
                </div>
            </div>

            <div class="form-group">
                <label>ROL DEL SISTEMA</label>
                {{ perfil_form.rol|add_class:"form-control" }}
            </div>
        </div>

        <div class="modal-footer" style="margin-top: 20px;">
            <button type="button" class="btn-cancel" onclick="cerrarModal('modalAdd')">CANCELAR</button>
            <button type="submit" class="btn-save">GUARDAR</button>
        </div>
    </form>
</div>