{% extends "login/base.html" %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock title %} 

{% block content %} 
    <div class="idioma-container">
        <button class="boton-idioma">
            <i class="fa-solid fa-globe"></i> ES
        </button>
    </div>

    <div class="ayuda-container">
        <button class="boton-ayuda">
            <i class="fa-solid fa-question"></i>
        </button>
    </div>

    <div class="contenedor">
        <h1 class="titulo" data-i18n="titulo-login">INICIAR SESIÓN</h1>
        
        <div class="formulario">
            
                <form id="loginForm" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="loginCorreo" class="label" data-i18n="label-correo">Correo electrónico</label>
                <input type="email" id="loginCorreo" name="username" placeholder="usuario@dominio.com" 
                    data-i18n="placeholder-email" data-i18n-placeholder="placeholder-email" required>
                <div id="loginEmailError" class="error-msg"></div>
                
                <label for="loginContrasena" class="label" data-i18n="label-contrasena">Contraseña</label>
                <div class="password-container">
                    <input type="password" id="loginContrasena" name="password" placeholder="Contraseña" 
                            data-i18n="placeholder-password" data-i18n-placeholder="placeholder-password" required>
                    <button type="button" id="toggleLoginPassword">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
                <div id="loginPasswordError" class="error-msg"></div>
                
                <button type="submit" class="botonr" id="loginButton" disabled data-i18n="texto-continuar">Continuar</button>

            </form>
            
            <p class="pregunta">
                <a href="{% url 'password_reset' %}" id="olvidaste-enlace" data-i18n="texto-olvidaste">¿Olvidaste tu contraseña?</a>
            </p>

            <p class="pregunta">
                <a href="{% url 'crear_cuenta' %}" id="crear-cuenta-enlace" data-i18n="texto-crear-cuenta">¿No tienes una cuenta? Crear cuenta</a>
            </p>
        </div>
    </div>

{% endblock content %} 

{% block extra_js %}
    <script src="{% static 'ap1/js/script_login.js' %}"></script>
{% endblock extra_js %}