{% extends "../login/base.html" %} 
{% load static %}
{% block title %}Iniciar Sesión{% endblock title %} 

{% block content %} 
    <div class="idioma-container">
        <button class="boton-idioma">
            <i class="fa-solid fa-globe"></i> ES
        </button>
    </div>

    <div class="ayuda-container">
        <button class="boton-ayuda">
            <i class="fa-solid fa-question"></i>
        </button>
    </div>

    <div class="contenedor">
        <h1 class="titulo" data-i18n="titulo-login">INICIAR SESIÓN</h1>
        
        <div class="formulario">
            
            <form id="loginForm">
                <label for="correo" class="label" data-i18n="label-correo">Correo electrónico</label>
                <input type="email" id="correo" name="correo" placeholder="usuario@dominio.com" 
                        data-i18n="placeholder-email" required>
                <div id="emailError" class="error-msg"></div>
                
                <label for="contrasena" class="label" data-i18n="label-contrasena">Contraseña</label>
                <div class="password-container">
                    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" 
                            data-i18n="placeholder-password" required>
                    <button type="button" id="togglePassword">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
                <div id="passwordError" class="error-msg"></div>
                
                <button type="submit" class="botonr" id="loginButton" disabled data-i18n="texto-continuar">Continuar</button>

            </form>
            
            <p class="pregunta">
                <a href="{% url 'recuperar_contrasena' %}" id="olvidaste-enlace" data-i18n="texto-olvidaste">¿Olvidaste tu contraseña?</a>
            </p>

            <p class="pregunta">
                <a href="{% url 'crear_cuenta' %}" id="crear-cuenta-enlace" data-i18n="texto-crear-cuenta">¿No tienes una cuenta? Crear cuenta</a>
            </p>
        </div>
    </div>

{% endblock content %} 

{% block extra_js %}
    <script src="{% static 'ap1/js/script_login.js' %}"></script>
{% endblock extra_js %}