<!-- Notification Modal -->
<div id="modalNotificacion" class="modal" style="display: none;">
    <div class="modal-content modal-notificacion" id="modalNotificacionContent">
        <div class="notificacion-icon" id="notificacionIcon"></div>
        <h2 id="notificacionTitulo"></h2>
        <p id="notificacionMensaje"></p>
        <div class="modal-footer">
            <button type="button" class="btn-save" onclick="cerrarModal('modalNotificacion')">Aceptar</button>
        </div>
    </div>
</div>
