<div class="modal" id="modal-evento">
    <div class="modal-contenido">
        <div class="btc">
            <button class="btn-cerrar" id="btn-cerrar-modal-evento">&times;</button>
        </div>
        <div class="modal-header">
            <h3 class="modal-titulo" id="modal-titulo-evento">Gestionar Actividad</h3>
        </div>

        <form method="post" id="form-evento">
            {% csrf_token %}
            <input type="hidden" name="id" id="evento-id">

            <div class="form-grupo">
                <label>Título de la Actividad</label>
                <input type="text" name="titulo" id="in_titulo" class="form-input" required>
            </div>

            <div class="divicion">
                <div class="form-grupo">
                    <label>Fecha</label>
                    <input type="date" name="fecha" id="in_fecha" class="form-input" required>
                </div>
                <div class="form-grupo">
                    <label>Hora</label>
                    <input type="time" name="hora" id="in_hora" class="form-input" required>
                </div>
            </div>

            <div class="form-grupo">
                <label>Categoría</label>
                <select name="categoria" id="in_categoria" class="form-select" required>
                    <option value="">--- Seleccione ---</option>
                    {% for c in categorias %}
                        <option value="{{ c.id }}" data-color="{{ c.color }}">{{ c.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-grupo">
                <label>Detalles</label>
                <textarea name="descripcion" id="in_descripcion" rows="3" class="form-input" placeholder="Notas..."></textarea>
            </div>

            <div class="form-botones">
                <button type="button" class="btn-cancelar" id="btn-cancelar-evento">Cancelar</button>
                <button type="submit" class="btn-guardar">Guardar</button>
            </div>
        </form>
    </div>
</div>