<button type="button" class="close-modal-form btn-cerrar-limpio" aria-label="Cerrar">&times;</button>    
<div class="modal-header-bedcom">
    <h2 class="modal-titulo">
        <span id="modal-title-text">Gestionar Actividad</span>
    </h2>
</div>

<form id="event-form">
    {% csrf_token %}
    <input type="hidden" id="event-id" name="id">
    
    <div class="form-group">
        <label>¿Qué quiere agendar?</label>
        <input type="text" id="title" name="titulo" required placeholder="Ej: Entrega Base Cama King" class="input-estilizado">
    </div>

    <div class="form-grid-dual">
        <div class="form-group">
            <label>Fecha</label>
            <input type="date" id="date" name="fecha" required>
        </div>
        <div class="form-group">
            <label>Hora</label>
            <input type="time" id="time" name="hora" required>
        </div>
    </div>

    <div class="form-group">
        <label>Categoría</label>
        <select id="category" name="categoria" required>
            <option value="pedido">Pedido / Entrega (Producto Final)</option>
            <option value="compra">Compra (Insumos: Madera, Telas, etc.)</option>
            <option value="pago">Pago (Nómina, Proveedores)</option>
        </select>
    </div>

    <div class="form-group">
        <label>Detalles </label>
        <textarea id="description" name="descripcion" rows="3" placeholder="Medidas, nombre del cliente o notas de fabricación..."></textarea>
    </div>

    <button type="submit" class="btn-primario btn-submit-block">
        <i class="fa-solid fa-floppy-disk"></i> Guardar en Agenda
    </button>
</form>