{% extends "includes/base.html" %}
{% load static %}
{% block content %}
 <title>{% block title %}Insumos{% endblock %}</title> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static 'ap1/css/insumos.css' %}" />

<main class="main-container">
    <div class="btn-agregar-container">
        <button class="btn-agregar" id="btn-agregar-insumo">
            <i class="fas fa-plus"></i> Agregar Insumo
        </button>
    </div>

    <table id="tablaInsumos" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</main>

{% include "insumos/modal_insumos.html" %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Constantes para el JS externo
    const INSUMOS_DATA_URL = "{% url 'insumos_data' %}";
</script>
<script src="{% static 'ap1/js/insumos.js' %}"></script>
{% endblock %}