{% extends "includes/base.html" %}
{% load static %}
{% block header_title %}INSUMOS{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'ap1/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'ap1/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'ap1/css/insumos.css' %}">

<main class="main-container">
    <div class="btn-agregar-container">
        <button class="btn-agregar" id="btn-agregar-insumo">
            <i class="fas fa-plus"></i> Agregar Insumo
        </button>
    </div>
    <div class ="container-tabla">

        <table id="tablaInsumos" class="display">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Precio Unitario</th>
                    <th>Proveedor</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</main>

{% include "insumos/modal_insumos.html" %}
{% include "insumos/modal_editar.html" %}

<script src="{% static 'ap1/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'ap1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'ap1/js/sweetalert2.all.min.js' %}"></script>
<script>
    const INSUMOS_DATA_URL = "{% url 'insumos_data' %}";
</script>
<script src="{% static 'ap1/js/insumos.js' %}"></script>
{% endblock %}